fastapi
uvicorn
ddgs
pydantic
python-dotenv
tqdm
langchain-core
langchain-openai
langchain-ollama
langchain-chroma
langgraph
langgraph-prebuilt==1.0.4
langchain-community
langchain-classic
langchain-core
langchain_community
requests
python-telegram-bot
